@tailwind base;
@tailwind components;
@tailwind utilities;

.brl {
    position: relative;
    display: block;
}
.brl:after {
    color: #37424a !important;
    content: "R$";
    font-size: 16px !important;
    font-weight: 400;
    position: absolute;

    display: block;
    height: 100%;
    top: 0;
    left: 10px;
    line-height: 96px;
}

.brl input[type="number"] {
    box-sizing: border-box;
    padding-left: 30px;
}

.product_card {
    border-radius: 30px;
    transition: 0.5s;
    transform: scale(1);
    border: 1px solid rgba(0, 155, 255, 0);
    background-color: rgba(255, 255, 255, 0);
}

.product_card:hover {
    transform: scale(1.035);
    border: 1px solid rgba(0, 155, 255, 0.35);
    background-color: rgba(255, 255, 255, 0.05);
}

.hoverScale {
    transition: 0.5s;
    transform: scale(1);
}

.hoverScale:hover{
    transform: scale(1.035);
}

.floatIn{
    animation: floatInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.deleted {
    animation: deletedAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.like:active {
    border-style: solid;
    border-color: red;
    border-width: 1px;
    border-radius: 50%;
}

@keyframes floatInAnimation {
    0% {
        transform: translateY(5em);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes deletedAnimation {
    0% {
        max-height: inherit;
        transform: translateX(0) scaleY(1);
        opacity: 1;
    }
    100% {
        max-height: 0;
        transform: translateX(-15em) scaleY(0);
        opacity: 0;
    }
}


